header {
  height: 100vh;
  margin: 0;
  padding: 0;
  text-align: center; }
  header .hero {
    height: 90vh;
    width: 90vw;
    margin: 5vh auto;
    padding: 0;
    background-image: url("../img/heroVII.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center; }

.section1 {
  height: 100vh;
  margin: auto;
  padding: 0; }
  .section1 .container {
    margin: 0;
    padding: 5vh 0 5vh 7.5vw;
    display: flex;
    flex-direction: row; }
    .section1 .container .col {
      width: 50%;
      margin: 0;
      padding: 0;
      text-align: center; }
    .section1 .container .col_left {
      margin: 0;
      padding: 0;
      position: relative; }
      .section1 .container .col_left .sec1_1st {
        width: 22.5vw;
        height: 20vw;
        position: absolute;
        top: 0;
        left: 6vw; }
      .section1 .container .col_left .sec1_2nd {
        width: 27.75vw;
        height: 25vw;
        position: absolute;
        top: 0;
        left: 15.5vw; }
      .section1 .container .col_left .sec1_3rd {
        width: 14.25vw;
        height: 12.75vw;
        position: absolute;
        top: 12.25vw;
        left: 37vw; }
      .section1 .container .col_left .sec1_4th {
        width: 10.75vw;
        height: 9.75vw;
        position: absolute;
        top: 0;
        left: 0; }
      .section1 .container .col_left .sec1_5th {
        width: 18vw;
        height: 15.75vw;
        position: absolute;
        top: 25.75vw;
        left: 25.75vw; }
    .section1 .container .col_right {
      margin: 0;
      padding: 0; }
      .section1 .container .col_right .container {
        margin: 0;
        padding: 7.5vw 0;
        display: flex;
        flex-direction: column; }
        .section1 .container .col_right .container h1 {
          margin: 0;
          padding: 0;
          font-size: 4vw;
          font-weight: 600; }
        .section1 .container .col_right .container p {
          margin: auto;
          padding: 0;
          width: 30vw;
          font-size: 2vw;
          font-weight: 200; }

@media only screen and (min-height: 750px) and (max-height: 799px) {
  .section1 .container {
    padding: 12.5vh 0 12.5vh 7.5vw; } }
@media only screen and (min-height: 800px) and (max-height: 999px) {
  .section1 .container {
    padding: 17.5vh 0 17.5vh 7.5vw; } }
@media only screen and (min-height: 1000px) and (max-height: 1500px) {
  .section1 .container {
    padding: 12.5vh 0 12.5vh 7.5vw; } }
@media only screen and (max-height: 850px) and (max-width: 850px) {
  .section1 .container {
    padding: 0;
    flex-direction: column; }
    .section1 .container .col {
      width: 100%; }
    .section1 .container .col_left .sec1_1st {
      width: 28.125vw;
      height: 25vw;
      top: 40vw;
      left: 26vw; }
    .section1 .container .col_left .sec1_2nd {
      width: 34.69vw;
      height: 32.25vw;
      top: 40vw;
      left: 38vw; }
    .section1 .container .col_left .sec1_3rd {
      width: 18.5vw;
      height: 16.75vw;
      top: 55.5vw;
      left: 65vw; }
    .section1 .container .col_left .sec1_4th {
      width: 13.44vw;
      height: 12.19vw;
      top: 40vw;
      left: 18vw; }
    .section1 .container .col_left .sec1_5th {
      width: 22.5vw;
      height: 19.69vw;
      top: 73.5vw;
      left: 50.5vw; }
    .section1 .container .col_right {
      height: 100vh;
      padding: 0;
      position: relative; }
      .section1 .container .col_right .container {
        position: absolute;
        left: 20vw;
        bottom: 15vh; }
        .section1 .container .col_right .container h1 {
          font-size: 8vw; }
        .section1 .container .col_right .container p {
          margin: 0;
          width: 60vw;
          font-size: 4vw; } }
.section2 {
  height: 100vh;
  margin: auto;
  padding: 0; }
  .section2 .container {
    margin: 0;
    padding: 7.5vh 0 5vh 0;
    display: flex;
    flex-direction: row; }
    .section2 .container .col {
      width: 50%;
      margin: 0;
      padding: 0;
      text-align: center; }
    .section2 .container .col_left {
      margin: 0;
      padding: 0; }
      .section2 .container .col_left .container {
        margin: 0;
        padding: 8vw 0;
        display: flex;
        flex-direction: column; }
        .section2 .container .col_left .container h1 {
          margin: 0;
          padding: 0;
          font-size: 4vw;
          font-weight: 600; }
        .section2 .container .col_left .container p {
          margin: auto;
          padding: 0;
          width: 30vw;
          font-size: 2vw;
          font-weight: 200; }
    .section2 .container .col_right {
      width: 50vw;
      margin: 0;
      padding: 0;
      position: relative; }
      .section2 .container .col_right .sec2_1st {
        width: 5vw;
        height: 12.75vw;
        position: absolute;
        top: 0;
        right: 6.5vw; }
      .section2 .container .col_right .sec2_2nd {
        width: 5vw;
        height: 35.5vw;
        position: absolute;
        top: 0;
        right: 12.5vw; }
      .section2 .container .col_right .sec2_3rd {
        width: 5vw;
        height: 24.25vw;
        position: absolute;
        top: 3vw;
        right: 18.25vw; }
      .section2 .container .col_right .sec2_4th {
        width: 5vw;
        height: 12.75vw;
        position: absolute;
        top: 14.5vw;
        right: 24.25vw; }
      .section2 .container .col_right .sec2_5th {
        width: 5vw;
        height: 24.25vw;
        position: absolute;
        top: 0;
        right: 30vw; }
      .section2 .container .col_right .sec2_6th {
        width: 5vw;
        height: 35.5vw;
        position: absolute;
        top: 0;
        right: 36vw; }
      .section2 .container .col_right .sec2_7th {
        width: 5vw;
        height: 12.75vw;
        position: absolute;
        top: 9.5vw;
        right: 41.75vw; }
      .section2 .container .col_right .sec2_8th {
        width: 5vw;
        height: 24.5vw;
        position: absolute;
        top: 15.5vw;
        right: 47.5vw; }

@media only screen and (min-height: 750px) and (max-height: 799px) {
  .section2 .container {
    padding: 15vh 0 15vh 7.5vw; } }
@media only screen and (min-height: 800px) and (max-height: 999px) {
  .section2 .container {
    padding: 17.5vh 0 17.5vh 7.5vw; } }
@media only screen and (min-height: 1000px) and (max-height: 1500px) {
  .section2 .container {
    padding: 15vh 0 15vh 7.5vw; } }
@media only screen and (max-height: 850px) and (max-width: 850px) {
  .section2 .container {
    padding: 0;
    flex-direction: column;
    position: relative; }
    .section2 .container .col {
      width: 100%; }
    .section2 .container .col_right {
      margin: 0;
      padding: 0;
      position: absolute;
      top: 50vh;
      right: 8vw; }
      .section2 .container .col_right .sec2_1st {
        width: 6.25vw;
        height: 15.94vw;
        top: 0;
        right: 10vw; }
      .section2 .container .col_right .sec2_2nd {
        width: 6.25vw;
        height: 44.38vw;
        top: 0;
        right: 17.5vw; }
      .section2 .container .col_right .sec2_3rd {
        width: 6.25vw;
        height: 30.31vw;
        top: 3vw;
        right: 25.5vw; }
      .section2 .container .col_right .sec2_4th {
        width: 6.25vw;
        height: 15.94vw;
        top: 17.5vw;
        right: 33vw; }
      .section2 .container .col_right .sec2_5th {
        width: 6.25vw;
        height: 30.31vw;
        top: 0;
        right: 41vw; }
      .section2 .container .col_right .sec2_6th {
        width: 6.25vw;
        height: 44.38vw;
        top: 0;
        right: 49vw; }
      .section2 .container .col_right .sec2_7th {
        width: 6.25vw;
        height: 15.94vw;
        top: 12vw;
        right: 57vw; }
      .section2 .container .col_right .sec2_8th {
        width: 6.25vw;
        height: 30.6vw;
        top: 15.5vw;
        right: 65vw; }
    .section2 .container .col_left {
      height: 100vh;
      padding: 0;
      position: relative; }
      .section2 .container .col_left .container {
        position: absolute;
        left: 20vw;
        top: 15vh; }
        .section2 .container .col_left .container h1 {
          font-size: 8vw; }
        .section2 .container .col_left .container p {
          margin: 0;
          width: 60vw;
          font-size: 4vw; } }
.section3 {
  height: 100vh;
  margin: auto;
  padding: 0; }
  .section3 .container {
    margin: 0;
    padding: 17.5vh 0 17.5vh 7.5vw;
    display: flex;
    flex-direction: row; }
    .section3 .container .col {
      width: 50%;
      margin: 0;
      padding: 0;
      text-align: center; }
    .section3 .container .col_left {
      margin: 0;
      padding: 0;
      position: relative; }
      .section3 .container .col_left .sec3_1st {
        width: 10vw;
        height: 20vw;
        position: absolute;
        top: 5vw;
        left: 17vw; }
      .section3 .container .col_left .sec3_2nd {
        width: 10vw;
        height: 30vw;
        position: absolute;
        top: 0;
        left: 25.5vw; }
      .section3 .container .col_left .sec3_3rd {
        width: 10vw;
        height: 20vw;
        position: absolute;
        top: 10.5vw;
        left: 8.5vw; }
      .section3 .container .col_left .sec3_4th {
        width: 10vw;
        height: 20vw;
        position: absolute;
        top: 5.25vw;
        left: 0; }
      .section3 .container .col_left .sec3_5th {
        width: 10vw;
        height: 20vw;
        position: absolute;
        top: 5.25vw;
        left: 34vw; }
    .section3 .container .col_right {
      margin: 0;
      padding: 0; }
      .section3 .container .col_right .container {
        margin: 0;
        padding: 3vw 0;
        display: flex;
        flex-direction: column; }
        .section3 .container .col_right .container h1 {
          margin: 0;
          padding: 0;
          font-size: 4vw;
          font-weight: 600; }
        .section3 .container .col_right .container p {
          margin: auto;
          padding: 0;
          width: 30vw;
          font-size: 2vw;
          font-weight: 200; }

@media only screen and (min-height: 750px) and (max-height: 799px) {
  .section3 .container {
    padding: 22.5vh 0 22.5vh 7.5vw; } }
@media only screen and (min-height: 800px) and (max-height: 999px) {
  .section3 .container {
    padding: 25vh 0 25vh 7.5vw; } }
@media only screen and (min-height: 1000px) and (max-height: 1500px) {
  .section3 .container {
    padding: 22.5vh 0 22.5vh 7.5vw; } }
@media only screen and (max-height: 850px) and (max-width: 850px) {
  .section3 .container {
    padding: 0;
    flex-direction: column; }
    .section3 .container .col {
      width: 100%; }
    .section3 .container .col_left .sec3_1st {
      width: 15vw;
      height: 30vw;
      top: 45vw;
      left: 43vw; }
    .section3 .container .col_left .sec3_2nd {
      width: 15vw;
      height: 45vw;
      top: 37vw;
      left: 56vw; }
    .section3 .container .col_left .sec3_3rd {
      width: 15vw;
      height: 30vw;
      top: 52.5vw;
      left: 30.5vw; }
    .section3 .container .col_left .sec3_4th {
      width: 15vw;
      height: 30vw;
      top: 45.25vw;
      left: 17.5vw; }
    .section3 .container .col_left .sec3_5th {
      width: 15vw;
      height: 30vw;
      top: 45.25vw;
      left: 69vw; }
    .section3 .container .col_right {
      height: 100vh;
      padding: 0;
      position: relative; }
      .section3 .container .col_right .container {
        position: absolute;
        left: 20vw;
        bottom: 20vh; }
        .section3 .container .col_right .container h1 {
          font-size: 8vw; }
        .section3 .container .col_right .container p {
          margin: 0;
          width: 60vw;
          font-size: 4vw; } }
.section4 {
  height: 100vh;
  margin: auto;
  padding: 0; }
  .section4 .container {
    margin: 0;
    padding: 5vh 0 5vh 7.5vw;
    display: flex;
    flex-direction: row; }
    .section4 .container .col {
      width: 50%;
      margin: 0;
      padding: 0;
      text-align: center; }
    .section4 .container .col_left {
      margin: 0;
      padding: 0; }
      .section4 .container .col_left .container {
        margin: 0;
        padding: 8vw 0;
        display: flex;
        flex-direction: column; }
        .section4 .container .col_left .container h1 {
          margin: 0;
          padding: 0;
          font-size: 4vw;
          font-weight: 600; }
        .section4 .container .col_left .container p {
          margin: auto;
          padding: 0;
          width: 30vw;
          font-size: 2vw;
          font-weight: 200; }
    .section4 .container .col_right {
      width: 55vw;
      margin: 0;
      padding: 0;
      position: relative; }
      .section4 .container .col_right .sec4_1st {
        width: 27.75vw;
        height: 25vw;
        position: absolute;
        top: 0;
        right: 15.5vw; }
      .section4 .container .col_right .sec4_2nd {
        width: 22.5vw;
        height: 20vw;
        position: absolute;
        top: 0;
        right: 6vw; }
      .section4 .container .col_right .sec4_3rd {
        width: 10.75vw;
        height: 9.75vw;
        position: absolute;
        top: 0;
        right: 0; }
      .section4 .container .col_right .sec4_4th {
        width: 18.75vw;
        height: 15.75vw;
        position: absolute;
        top: 25.25vw;
        right: 24.5vw; }
      .section4 .container .col_right .sec4_5th {
        width: 14.25vw;
        height: 12.75vw;
        position: absolute;
        top: 12.25vw;
        right: 37vw; }

@media only screen and (min-height: 750px) and (max-height: 799px) {
  .section4 .container {
    padding: 12.5vh 0 12.5vh 7.5vw; } }
@media only screen and (min-height: 800px) and (max-height: 999px) {
  .section4 .container {
    padding: 17.5vh 0 17.5vh 7.5vw; } }
@media only screen and (min-height: 1000px) and (max-height: 1500px) {
  .section4 .container {
    padding: 12.5vh 0 12.5vh 7.5vw; } }
@media only screen and (max-height: 850px) and (max-width: 850px) {
  .section4 .container {
    padding: 0;
    flex-direction: column;
    position: relative; }
    .section4 .container .col {
      width: 100%; }
    .section4 .container .col_right {
      margin: 0;
      padding: 0;
      position: absolute;
      top: 52.5vh;
      left: 20vw; }
      .section4 .container .col_right .sec4_1st {
        width: 34.69vw;
        height: 31.25vw;
        top: 0;
        right: 12vw; }
      .section4 .container .col_right .sec4_2nd {
        width: 28.13vw;
        height: 25vw;
        top: 0;
        right: 0; }
      .section4 .container .col_right .sec4_3rd {
        width: 13.44vw;
        height: 12.19vw;
        top: 0;
        right: -7.75vw; }
      .section4 .container .col_right .sec4_4th {
        width: 23.44vw;
        height: 19.69vw;
        top: 31.5vw;
        right: 23vw; }
      .section4 .container .col_right .sec4_5th {
        width: 17.81vw;
        height: 15.94vw;
        top: 15.25vw;
        right: 38.75vw; }
    .section4 .container .col_left {
      height: 100vh;
      padding: 0;
      position: relative; }
      .section4 .container .col_left .container {
        position: absolute;
        left: 20vw;
        top: 15vh; }
        .section4 .container .col_left .container h1 {
          font-size: 8vw; }
        .section4 .container .col_left .container p {
          margin: 0;
          width: 60vw;
          font-size: 4vw; } }
.section5 {
  height: 100vh;
  margin: auto;
  padding: 0; }
  .section5 .container {
    margin: 0;
    padding: 5vh 0 5vh 7.5vw;
    display: flex;
    flex-direction: row; }
    .section5 .container .col {
      width: 50%;
      margin: 0;
      padding: 0;
      text-align: center; }
    .section5 .container .col_left {
      width: 50vw;
      margin: 0;
      padding: 0;
      position: relative; }
      .section5 .container .col_left .sec5_1st {
        width: 5vw;
        height: 12.75vw;
        position: absolute;
        top: 0;
        left: 0; }
      .section5 .container .col_left .sec5_2nd {
        width: 5vw;
        height: 35.5vw;
        position: absolute;
        top: 0;
        left: 6vw; }
      .section5 .container .col_left .sec5_3rd {
        width: 5vw;
        height: 24.25vw;
        position: absolute;
        top: 3vw;
        left: 11.75vw; }
      .section5 .container .col_left .sec5_4th {
        width: 5vw;
        height: 12.75vw;
        position: absolute;
        top: 14.5vw;
        left: 17.5vw; }
      .section5 .container .col_left .sec5_5th {
        width: 5vw;
        height: 24.25vw;
        position: absolute;
        top: 0;
        left: 23.25vw; }
      .section5 .container .col_left .sec5_6th {
        width: 5vw;
        height: 35.5vw;
        position: absolute;
        top: 0;
        left: 29vw; }
      .section5 .container .col_left .sec5_7th {
        width: 5vw;
        height: 12.75vw;
        position: absolute;
        top: 9.5vw;
        left: 34.75vw; }
      .section5 .container .col_left .sec5_8th {
        width: 5vw;
        height: 24.5vw;
        position: absolute;
        top: 15.5vw;
        left: 40.5vw; }
    .section5 .container .col_right {
      margin: 0;
      padding: 0; }
      .section5 .container .col_right .container {
        margin: 0;
        padding: 8vw 0;
        display: flex;
        flex-direction: column; }
        .section5 .container .col_right .container h1 {
          margin: 0;
          padding: 0;
          font-size: 4vw;
          font-weight: 600; }
        .section5 .container .col_right .container p {
          margin: auto;
          padding: 0;
          width: 30vw;
          font-size: 2vw;
          font-weight: 200; }

@media only screen and (min-height: 750px) and (max-height: 799px) {
  .section5 .container {
    padding: 15vh 0 15vh 7.5vw; } }
@media only screen and (min-height: 800px) and (max-height: 999px) {
  .section5 .container {
    padding: 17.5vh 0 17.5vh 7.5vw; } }
@media only screen and (min-height: 1000px) and (max-height: 1500px) {
  .section5 .container {
    padding: 15vh 0 15vh 7.5vw; } }
@media only screen and (max-height: 850px) and (max-width: 850px) {
  .section5 .container {
    padding: 0;
    flex-direction: column; }
    .section5 .container .col {
      width: 100%; }
    .section5 .container .col_left .sec5_1st {
      width: 6.25vw;
      height: 15.94vw;
      position: absolute;
      top: 40vw;
      left: 21vw; }
    .section5 .container .col_left .sec5_2nd {
      width: 6.25vw;
      height: 44.38vw;
      position: absolute;
      top: 40vw;
      left: 28.5vw; }
    .section5 .container .col_left .sec5_3rd {
      width: 6.25vw;
      height: 30.31vw;
      position: absolute;
      top: 43vw;
      left: 35.75vw; }
    .section5 .container .col_left .sec5_4th {
      width: 6.25vw;
      height: 15.94vw;
      position: absolute;
      top: 54.5vw;
      left: 43vw; }
    .section5 .container .col_left .sec5_5th {
      width: 6.25vw;
      height: 30.31vw;
      position: absolute;
      top: 40vw;
      left: 50.25vw; }
    .section5 .container .col_left .sec5_6th {
      width: 6.25vw;
      height: 44.38vw;
      position: absolute;
      top: 40vw;
      left: 57.5vw; }
    .section5 .container .col_left .sec5_7th {
      width: 6.25vw;
      height: 15.94vw;
      position: absolute;
      top: 52.5vw;
      left: 64.75vw; }
    .section5 .container .col_left .sec5_8th {
      width: 6.25vw;
      height: 30.6vw;
      position: absolute;
      top: 54vw;
      left: 71.75vw; }
    .section5 .container .col_right {
      height: 100vh;
      padding: 0;
      position: relative; }
      .section5 .container .col_right .container {
        position: absolute;
        left: 20vw;
        bottom: 15vh; }
        .section5 .container .col_right .container h1 {
          font-size: 8vw; }
        .section5 .container .col_right .container p {
          margin: 0;
          width: 60vw;
          font-size: 4vw; } }
.section6 {
  height: 100vh;
  margin: auto;
  padding: 0; }
  .section6 .container {
    margin: 0;
    padding: 15vh 0 0 1vw;
    display: flex;
    flex-direction: row; }
    .section6 .container .col_left {
      width: 60%;
      margin: 0;
      padding: 0; }
      .section6 .container .col_left .container {
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: row;
        text-align: center; }
        .section6 .container .col_left .container .col1 {
          width: 40%;
          margin: 0;
          padding: 0; }
          .section6 .container .col_left .container .col1 form {
            width: 15vw;
            margin: 5vw 5vw;
            padding: 2vw;
            text-align: left;
            border: 0.05vw solid #D3D3D3;
            border-radius: 10px;
            font-family: 'Open Sans';
            font-weight: 200; }
            .section6 .container .col_left .container .col1 form h4 {
              margin: 0;
              padding: 0;
              font-size: 2vw;
              font-weight: 200; }
            .section6 .container .col_left .container .col1 form input, .section6 .container .col_left .container .col1 form textarea {
              width: 100%;
              margin: 0 0 1vw 0;
              padding: 0.5vw 0;
              border: 0.05vw solid #D3D3D3;
              border-radius: 3px; }
            .section6 .container .col_left .container .col1 form button {
              margin: 0 4vw;
              padding: 0.75vw 2vw;
              background-color: white;
              border: 0.05vw solid #D3D3D3;
              border-radius: 3px;
              font-family: 'Open Sans'; }
        .section6 .container .col_left .container .col2 {
          width: 60%; }
          .section6 .container .col_left .container .col2 .row {
            margin: 1vw 0;
            padding: 0;
            display: flex;
            flex-direction: row; }
          .section6 .container .col_left .container .col2 h4 {
            margin: 0.7vw 0;
            padding: 0;
            font-size: 2vw;
            font-weight: 200; }
          .section6 .container .col_left .container .col2 i {
            margin: 1vw 2vw;
            color: #D3D3D3;
            font-size: 2vw; }
          .section6 .container .col_left .container .col2 .container {
            margin: 7vw 0 5vw 2.5vw;
            padding: 0;
            display: flex;
            flex-direction: column; }
    .section6 .container .col_right {
      width: 40%;
      margin: 0;
      padding: 0; }
      .section6 .container .col_right .container {
        margin: 2.5vh 0;
        padding: 0;
        display: flex;
        flex-direction: column;
        text-align: center; }
        .section6 .container .col_right .container img {
          height: 30vw;
          width: 32.5vw; }
        .section6 .container .col_right .container h4 {
          margin: 2.5vh 7.5vw 0 0;
          padding: 0;
          font-weight: 200; }

@media only screen and (min-height: 750px) and (max-height: 799px) {
  .section6 .container {
    padding: 20vh 0 0 1vw; } }
@media only screen and (min-height: 800px) and (max-height: 999px) {
  .section6 .container {
    padding: 22.5vh 0 0 1vw; } }
@media only screen and (min-height: 1000px) and (max-height: 1500px) {
  .section6 .container {
    padding: 20vh 0 0 1vw; } }
@media only screen and (max-height: 850px) and (max-width: 850px) {
  .section6 .container {
    padding: 0;
    flex-direction: column; }
    .section6 .container .col {
      width: 100%; }
    .section6 .container .col_left .container {
      margin-top: 5vh;
      flex-direction: column; }
      .section6 .container .col_left .container .col1 {
        width: 100%; }
        .section6 .container .col_left .container .col1 form {
          width: 60vw;
          margin: auto;
          padding: 4vw;
          border: 0.25vw solid #D3D3D3; }
          .section6 .container .col_left .container .col1 form h4 {
            margin: 2vw 0;
            font-size: 5vw; }
          .section6 .container .col_left .container .col1 form input, .section6 .container .col_left .container .col1 form textarea {
            margin: 2vw 0 1vw 0;
            padding: 1vw 0;
            border: 0.25vw solid #D3D3D3; }
          .section6 .container .col_left .container .col1 form button {
            margin: 2vw 20vw;
            border: 0.25vw solid #D3D3D3;
            font-size: 4vw; }
      .section6 .container .col_left .container .col2 {
        width: 100%; }
        .section6 .container .col_left .container .col2 .row {
          margin: 1vw 0;
          padding: 0;
          display: flex;
          flex-direction: row; }
        .section6 .container .col_left .container .col2 h4 {
          margin: 0.7vw 0;
          padding: 0;
          font-size: 5vw;
          font-weight: 200; }
        .section6 .container .col_left .container .col2 i {
          margin: 1vw 2vw;
          color: #D3D3D3;
          font-size: 7.5vw; }
        .section6 .container .col_left .container .col2 .container {
          margin: 5vw 15vw 0 15vw;
          padding: 0; }
    .section6 .container .col_right {
      width: 100%; }
      .section6 .container .col_right .container {
        margin: auto; }
        .section6 .container .col_right .container img {
          height: 35vw;
          width: 37.5vw;
          margin: auto; }
        .section6 .container .col_right .container h4 {
          margin: 2vw auto; } }
body {
  margin: 0;
  padding: 0;
  text-align: center;
  font-family: 'Open Sans'; }

/*# sourceMappingURL=main.css.map */
