.section6 {
  height: 100vh;
  margin: auto;
  padding: 0; }
  .section6 .container {
    height: 85vh;
    margin: 0;
    padding: 15vh 0 0 0;
    display: flex;
    flex-direction: row; }
    .section6 .container .col_left {
      width: 60%;
      margin: 0;
      padding: 0; }
      .section6 .container .col_left .container {
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: row;
        text-align: center; }
        .section6 .container .col_left .container .col1 {
          width: 40%;
          margin: 0;
          padding: 0; }
          .section6 .container .col_left .container .col1 form {
            width: 15vw;
            margin: 4vw 6vw;
            padding: 2vw;
            text-align: left;
            border: 0.05vw solid #D3D3D3;
            border-radius: 10px;
            font-family: 'Open Sans';
            font-weight: 200; }
            .section6 .container .col_left .container .col1 form h4 {
              margin: 0;
              padding: 0;
              font-size: 2vw;
              font-weight: 200; }
            .section6 .container .col_left .container .col1 form input, .section6 .container .col_left .container .col1 form textarea {
              width: 100%;
              margin: 0 0 1vw 0;
              padding: 0.5vw 0;
              border: 0.05vw solid #D3D3D3;
              border-radius: 3px; }
            .section6 .container .col_left .container .col1 form button {
              margin: 0 4vw;
              padding: 0.75vw 2vw;
              background-color: white;
              border: 0.05vw solid #D3D3D3;
              border-radius: 3px;
              font-family: 'Open Sans'; }
        .section6 .container .col_left .container .col2 {
          width: 60%; }
          .section6 .container .col_left .container .col2 .container {
            height: 20vw;
            margin: 7vw 0 5vw 2.5vw;
            padding: 0;
            display: flex;
            flex-direction: column; }
            .section6 .container .col_left .container .col2 .container .row {
              margin: 1vw 0;
              padding: 0;
              display: flex;
              flex-direction: row; }
            .section6 .container .col_left .container .col2 .container h4 {
              margin: 0.7vw 0;
              padding: 0;
              font-size: 2vw;
              font-weight: 200; }
            .section6 .container .col_left .container .col2 .container i {
              margin: 1vw 2vw;
              color: #D3D3D3;
              font-size: 2vw; }
    .section6 .container .col_right {
      width: 40%;
      margin: 0;
      padding: 0; }
      .section6 .container .col_right .container {
        margin: 2.5vh 0;
        padding: 0;
        display: flex;
        flex-direction: column;
        text-align: center; }
        .section6 .container .col_right .container img {
          height: 30vw;
          width: 32.5vw; }
        .section6 .container .col_right .container h4 {
          margin: 2.5vh 7.5vw 0 0;
          padding: 0;
          font-size: 2vw;
          font-weight: 200; }

@media only screen and (min-height: 750px) and (max-height: 799px) {
  .section6 .container {
    padding: 20vh 0 0 1vw; } }
@media only screen and (min-height: 800px) and (max-height: 999px) {
  .section6 .container {
    padding: 22.5vh 0 0 1vw; } }
@media only screen and (min-height: 1000px) and (max-height: 1500px) {
  .section6 .container {
    padding: 20vh 0 0 1vw; } }
@media only screen and (max-height: 850px) and (max-width: 850px) {
  .section6 .container {
    height: 100vh;
    padding: 0;
    flex-direction: column; }
    .section6 .container .col {
      width: 100%; }
    .section6 .container .col_left {
      height: 70%; }
      .section6 .container .col_left .container {
        margin-top: 2.5vh;
        flex-direction: column; }
        .section6 .container .col_left .container .col1 {
          width: 100%; }
          .section6 .container .col_left .container .col1 form {
            width: 60vw;
            margin: auto;
            padding: 4vw;
            border: 0.25vw solid #D3D3D3; }
            .section6 .container .col_left .container .col1 form h4 {
              margin: 2vw 0;
              font-size: 5vw; }
            .section6 .container .col_left .container .col1 form input, .section6 .container .col_left .container .col1 form textarea {
              margin: 2vw 0 1vw 0;
              padding: 1vw 0;
              border: 0.25vw solid #D3D3D3; }
            .section6 .container .col_left .container .col1 form button {
              margin: 2vw 20vw;
              border: 0.25vw solid #D3D3D3;
              font-size: 4vw; }
        .section6 .container .col_left .container .col2 {
          width: 100%; }
          .section6 .container .col_left .container .col2 .container {
            margin: 5vw 12.5vw;
            padding: 0;
            display: flex;
            flex-wrap: wrap; }
            .section6 .container .col_left .container .col2 .container .row {
              margin: 1vw 0;
              padding: 0; }
              .section6 .container .col_left .container .col2 .container .row h4 {
                margin: 0.7vw 0;
                padding: 0;
                font-size: 4vw;
                font-weight: 200; }
              .section6 .container .col_left .container .col2 .container .row i {
                margin: 1vw 2vw;
                color: #D3D3D3;
                font-size: 5vw; }
    .section6 .container .col_right {
      height: 30%;
      width: 100%; }
      .section6 .container .col_right .container {
        height: 100%;
        margin: 0 auto; }
        .section6 .container .col_right .container img {
          height: 35vw;
          width: 37.5vw;
          margin: 0 auto; }
        .section6 .container .col_right .container h4 {
          margin: 2vw auto;
          font-size: 4vw; } }

/*# sourceMappingURL=section6.css.map */
