.section2{
  height: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;

  .container{
    height: 41.5vw;
    width: 80vw;
    margin: auto;
    padding: 0;
    display: flex;
    flex-direction: row;

    .col_left{
      height: 100%;
      width: 39%;
      margin: 0;
      padding: 0;

      .container_col_left{
        height: 60%;
        width: 95%;
        margin: 7.5vw auto;
        padding: 0;
        display: flex;
        flex-direction: column;

        h1{
          margin: auto;
          padding: 0;
          font-size: 4vw;
          font-weight: 600;
        }
        p{
          margin: 0;
          padding: 0;
          width: 30vw;
          font-size: 2vw;
          font-weight: 200;
        }
      }
    }

    .col_right{
      height: 100%;
      width: 61%;
      margin: 0;
      padding: 0;

      .container_col_right{
        height: 100%;
        width: 100%;
        margin: 0;
        padding: 0;
        position: relative;

        .sec2_1st{
          width: 5vw;
          height: 12.75vw;
          position: absolute;
          top: 0;
          right: 0vw;
        }
        .sec2_2nd{
          width: 5vw;
          height: 35.5vw;
          position: absolute;
          top: 0;
          right: 6vw;
        }
        .sec2_3rd{
          width: 5vw;
          height: 24.25vw;
          position: absolute;
          top: 3vw;
          right: 11.5vw;
        }
        .sec2_4th{
          width: 5vw;
          height: 12.75vw;
          position: absolute;
          top: 14.5vw;
          right: 17.75vw;
        }
        .sec2_5th{
          width: 5vw;
          height: 24.25vw;
          position: absolute;
          top: 0;
          right: 23.5vw;
        }
        .sec2_6th{
          width: 5vw;
          height: 35.5vw;
          position: absolute;
          top: 0;
          right: 29.5vw;
        }
        .sec2_7th{
          width: 5vw;
          height: 12.75vw;
          position: absolute;
          top: 9.5vw;
          right: 35.25vw;
        }
        .sec2_8th{
          width: 5vw;
          height: 24.5vw;
          position: absolute;
          top: 15.5vw;
          right: 41vw;
        }
      }
    }
  }
}

@media only screen and (max-width: 850px){
  .section2{
    .container{
      height: 60%;
      max-height: 130vw;
      min-height: 110vw;
      width: 100%;
      margin: auto;
      display: flex;
      flex-direction: column;
      .col_right{
        height: 50%;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        .container_col_right{
          height: 46vw;
          width: 61vw;
          margin: auto;
          padding: 0;
          position: relative;
          .sec2_1st{
            width: 6.25vw;
            height: 15.94vw;
            top: 0;
            right: 0vw;
          }
          .sec2_2nd{
            width: 6.25vw;
            height: 44.38vw;
            top: 0;
            right: 7.5vw;
          }
          .sec2_3rd{
            width: 6.25vw;
            height: 30.31vw;
            top: 3vw;
            right: 15.5vw;
          }
          .sec2_4th{
            width: 6.25vw;
            height: 15.94vw;
            top: 17.5vw;
            right: 23vw;
          }
          .sec2_5th{
            width: 6.25vw;
            height: 30.31vw;
            top: 0;
            right: 31vw;
          }
          .sec2_6th{
            width: 6.25vw;
            height: 44.38vw;
            top: 0;
            right: 39vw;
          }
          .sec2_7th{
            width: 6.25vw;
            height: 15.94vw;
            top: 12vw;
            right: 47vw;
          }
          .sec2_8th{
            width: 6.25vw;
            height: 30.6vw;
            top: 15.5vw;
            right: 55vw;
          }
        }
      }
      .col_left{
        height: 50%;
        width: 100%;
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        .container_col_left{
          height: 50vw;
          width: 62vw;
          margin: auto;
          padding: 0;
          display: flex;
          flex-direction: column;
          h1{
            margin: auto;
            padding: 0;
            font-size: 8vw;
            font-weight: 600;
          }
          p{
            margin: 0;
            padding: 0;
            width: 60vw;
            font-size: 4vw;
            font-weight: 200;
          }
        }
      }
    }
  }
}
