.section5 {
  height: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center; }
  .section5 .container {
    height: 41.5vw;
    width: 80vw;
    margin: auto;
    padding: 0;
    display: flex;
    flex-direction: row; }
    .section5 .container .col_left {
      height: 100%;
      width: 61%;
      margin: 0;
      padding: 0; }
      .section5 .container .col_left .container_col_left {
        height: 100%;
        width: 100%;
        margin: 0;
        padding: 0;
        position: relative; }
        .section5 .container .col_left .container_col_left .sec5_1st {
          width: 5vw;
          height: 12.75vw;
          position: absolute;
          top: 0;
          left: 0; }
        .section5 .container .col_left .container_col_left .sec5_2nd {
          width: 5vw;
          height: 35.5vw;
          position: absolute;
          top: 0;
          left: 6vw; }
        .section5 .container .col_left .container_col_left .sec5_3rd {
          width: 5vw;
          height: 24.25vw;
          position: absolute;
          top: 3vw;
          left: 11.75vw; }
        .section5 .container .col_left .container_col_left .sec5_4th {
          width: 5vw;
          height: 12.75vw;
          position: absolute;
          top: 14.5vw;
          left: 17.5vw; }
        .section5 .container .col_left .container_col_left .sec5_5th {
          width: 5vw;
          height: 24.25vw;
          position: absolute;
          top: 0;
          left: 23.25vw; }
        .section5 .container .col_left .container_col_left .sec5_6th {
          width: 5vw;
          height: 35.5vw;
          position: absolute;
          top: 0;
          left: 29vw; }
        .section5 .container .col_left .container_col_left .sec5_7th {
          width: 5vw;
          height: 12.75vw;
          position: absolute;
          top: 9.5vw;
          left: 34.75vw; }
        .section5 .container .col_left .container_col_left .sec5_8th {
          width: 5vw;
          height: 24.5vw;
          position: absolute;
          top: 15.5vw;
          left: 40.5vw; }
    .section5 .container .col_right {
      height: 100%;
      width: 39%;
      margin: 0;
      padding: 0; }
      .section5 .container .col_right .container_col_right {
        height: 60%;
        width: 95%;
        margin: 7.5vw auto;
        padding: 0;
        display: flex;
        flex-direction: column; }
        .section5 .container .col_right .container_col_right h1 {
          margin: auto;
          padding: 0;
          font-size: 4vw;
          font-weight: 600; }
        .section5 .container .col_right .container_col_right p {
          margin: 0;
          padding: 0;
          width: 30vw;
          font-size: 2vw;
          font-weight: 200; }

@media only screen and (max-width: 850px) {
  .section5 .container {
    height: 60%;
    max-height: 130vw;
    min-height: 110vw;
    width: 100%;
    margin: auto;
    display: flex;
    flex-direction: column; }
    .section5 .container .col_left {
      height: 50%;
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center; }
      .section5 .container .col_left .container_col_left {
        height: 45vw;
        width: 62vw;
        margin: auto;
        padding: 0;
        position: relative; }
        .section5 .container .col_left .container_col_left .sec5_1st {
          width: 6.25vw;
          height: 15.94vw;
          position: absolute;
          top: 0;
          left: 0; }
        .section5 .container .col_left .container_col_left .sec5_2nd {
          width: 6.25vw;
          height: 44.38vw;
          position: absolute;
          top: 0;
          left: 8vw; }
        .section5 .container .col_left .container_col_left .sec5_3rd {
          width: 6.25vw;
          height: 30.31vw;
          position: absolute;
          top: 3vw;
          left: 16vw; }
        .section5 .container .col_left .container_col_left .sec5_4th {
          width: 6.25vw;
          height: 15.94vw;
          position: absolute;
          top: 14.5vw;
          left: 24vw; }
        .section5 .container .col_left .container_col_left .sec5_5th {
          width: 6.25vw;
          height: 30.31vw;
          position: absolute;
          top: 0;
          left: 32vw; }
        .section5 .container .col_left .container_col_left .sec5_6th {
          width: 6.25vw;
          height: 44.38vw;
          position: absolute;
          top: 0;
          left: 40vw; }
        .section5 .container .col_left .container_col_left .sec5_7th {
          width: 6.25vw;
          height: 15.94vw;
          position: absolute;
          top: 12.5vw;
          left: 48vw; }
        .section5 .container .col_left .container_col_left .sec5_8th {
          width: 6.25vw;
          height: 30.6vw;
          position: absolute;
          top: 14vw;
          left: 56vw; }
    .section5 .container .col_right {
      height: 50%;
      width: 100%;
      margin: 0;
      padding: 0;
      display: flex;
      flex-direction: column;
      justify-content: center; }
      .section5 .container .col_right .container_col_right {
        height: 55vw;
        width: 60vw;
        margin: auto;
        padding: 0;
        display: flex;
        flex-direction: column; }
        .section5 .container .col_right .container_col_right h1 {
          margin: auto;
          padding: 0;
          font-size: 8vw;
          font-weight: 600; }
        .section5 .container .col_right .container_col_right p {
          margin: 0;
          padding: 0;
          width: 60vw;
          font-size: 4vw;
          font-weight: 200; } }

/*# sourceMappingURL=section5.css.map */
