.section3{
  height: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;

  .container{
    height: 30.5vw;
    width: 80vw;
    margin: auto;
    padding: 0;
    display: flex;
    flex-direction: row;

    .col_left{
      height: 100%;
      width: 55%;
      margin: 0;
      padding: 0;

      .container_col_left{
        height: 100%;
        width: 100%;
        margin: 0;
        padding: 0;
        position: relative;

        .sec3_1st{
          width: 10vw;
          height: 20vw;
          position: absolute;
          top: 5vw;
          left: 17vw;
        }
        .sec3_2nd{
          width: 10vw;
          height: 30vw;
          position: absolute;
          top: 0;
          left: 25.5vw;
        }
        .sec3_3rd{
          width: 10vw;
          height: 20vw;
          position: absolute;
          top: 10.5vw;
          left: 8.5vw;
        }
        .sec3_4th{
          width: 10vw;
          height: 20vw;
          position: absolute;
          top: 5.25vw;
          left: 0;
        }
        .sec3_5th{
          width: 10vw;
          height: 20vw;
          position: absolute;
          top: 5.25vw;
          left: 34vw;
        }
      }
    }

    .col_right{
      height: 100%;
      width: 45%;
      margin: 0;
      padding: 0;
      display: flex;
      flex-direction: column;
      justify-content: center;

      .container_col_right{
        height: 80%;
        width: 100%;
        margin: auto;
        padding: 0;
        display: flex;
        flex-direction: column;

        h1{
          margin: auto;
          padding: 0;
          font-size: 4vw;
          font-weight: 600;
        }
        p{
          margin: auto;
          padding: 0;
          width: 30vw;
          font-size: 2vw;
          font-weight: 200;
        }
      }
    }
  }
}

@media only screen and (max-width: 850px){
  .section3{
    .container{
      height: 55%;
      max-height: 130vw;
      min-height: 110vw;
      width: 100%;
      margin: auto;
      display: flex;
      flex-direction: column;
      .col_left{
        height: 50%;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        .container_col_left{
          height: 46vw;
          width: 67vw;
          margin: auto;
          padding: 0;
          position: relative;
          .sec3_1st{
            width: 15vw;
            height: 30vw;
            top: 8vw;
            left: 25.5vw;
          }
          .sec3_2nd{
            width: 15vw;
            height: 45vw;
            top: 0;
            left: 38.5vw;
          }
          .sec3_3rd{
            width: 15vw;
            height: 30vw;
            top: 16.25vw;
            left: 12.75vw;
          }
          .sec3_4th{
            width: 15vw;
            height: 30vw;
            top: 8.25vw;
            left: 0;
          }
          .sec3_5th{
            width: 15vw;
            height: 30vw;
            top: 8.25vw;
            left: 51.5vw;
          }
        }
      }
      .col_right{
        height: 50%;
        width: 100%;
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        .container_col_right{
          height: 47.5vw;
          width: 60vw;
          margin: auto;
          padding: 0;
          display: flex;
          flex-direction: column;
          h1{
            margin: auto;
            padding: 0;
            font-size: 8vw;
            font-weight: 600;
          }
          p{
            margin: 0;
            padding: 0;
            width: 60vw;
            font-size: 4vw;
            font-weight: 200;
          }
        }
      }
    }
  }
}
